.contactContainer {
  width: 100%;
  background: #f4f4f4;
  padding-bottom: 50px;
}

.topHeader {
  width: 100%;
  background-image: url("/asset/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.contactBody {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 50px;
}

.card {
  width: 400px;
}

.address {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactInfo {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
  margin-top: 70px;
}

.mapContainer {
  width: 800px;
  flex-basis: 0.6;
}

.contactForm {
  width: 600px;
}

.contactForm form button {
  width: 120px;
  height: 40px;
  font-size: 18px;
}

.mapContainer iframe {
  width: 100%;
}

@media (max-width: 900px) {
  .topHeader {
    font-size: 30px;
  }

  .contactInfo {
    flex-direction: column;
    gap: 30px;
    width: 95%;
  }

  .card {
    width: 100%;
  }

  .contactBody {
    width: 90%;
  }

  .contactForm {
    width: 100%;
  }

  .mapContainer {
    width: 100%;
  }
}
