.footer {
  width: 100%;
  background-color: rgba(43, 102, 185, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.footerContainer {
  position: relative;
  max-width: 1000px;
  display: grid;
  gap: 50px;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 50px;
}

.footerContainer h3 {
  font-size: 22px;
}

.footerContainer h3,
.footerContainer p,
.footerLinks ul li {
  padding-bottom: 10px;
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerContent form {
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(3, 1fr);
}

.footerContent form input,
.footerContent form button {
  padding: 7px;
  font-size: 18px;
  border: none;
  outline: none;
}

.footerContent form button {
  cursor: pointer;
  background: rgb(209, 141, 15);
  color: #ffffff;
}

.footerContent form button:hover {
  background: #000000;
}

.footerLinks ul li a:hover {
  color: #000000;
}

@media (max-width: 900px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    gap: 20px;
  }

  .footerContainer h3 {
    font-size: 20px;
  }
}
