.partnershipContainer {
  width: 100%;
  background: #ffffff;
  padding-bottom: 50px;
}

.topHeader {
  width: 100%;
  background-image: url("/asset/patner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.partnerBody {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 50px;
  flex-direction: column;
}

.partnerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.card {
  max-width: 500px;
  background: rgba(43, 102, 185, 0.9);
  text-align: center;
  border-right: 5px solid rgba(43, 102, 185, 0.9);
  height: 300px;
}

.card h2 {
  background: #ffffff;
}

.card p {
  padding-top: 20px;
  color: #ffffff;
}

.collapseContainer {
  width: 600px;
}

.partnerContainer h2 {
  padding-bottom: 20px;
  font-size: 1.6rem;
}

.partnerContainer p {
  font-size: 1.4rem;
}

/* partner congratulation */
.partnerCongratulation {
  width: 100%;
  color: #ffff;
  margin-top: 70px;
}

.collapse {
  background: #fafaf8;
}

.text {
  font-size: 18px;
}

.formContainer {
  max-width: 800px;
  margin-top: 50px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
}

.form button {
  width: 120px;
  height: 40px;
  font-size: 18px;
}

@media (max-width: 1200px) {
  .topHeader {
    font-size: 20px;
  }
  .partnerBody {
    width: 90%;
  }

  .partnerContainer {
    flex-direction: column;
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .collapseContainer {
    width: 100%;
    margin-top: 50px;
  }

  .partnerContainer h2 {
    font-size: 1.4rem;
  }

  .formContainer {
    width: 90%;
    padding: 15px;
  }

  .form {
    width: 100%;
  }
}
