.aboutContainer {
  width: 100%;
  background: #ffffff;
  padding-bottom: 50px;
}

.topHeader {
  width: 100%;
  background-image: url("/asset/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.aboutBody {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
  flex-wrap: wrap;
}

.textContainer {
  max-width: 700px;
}

.textContainer p {
  font-size: 22px;
  text-align: justify;
  line-height: 2.2rem;
}
.collapseContainer {
  width: 700px;
}

.collapse {
  background: #fafaf8;
}

.text {
  font-size: 18px;
}

@media (max-width: 800px) {
  .topHeader {
    font-size: 30px;
    text-align: center;
  }

  .textContainer p {
    text-align: start;
  }
}
