.legalServiceContainer {
  width: 100%;
  background: #f4f4f4;
  padding-bottom: 50px;
}

.topHeader {
  width: 100%;
  background-image: url("/asset/legal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.topHeader div {
  width: 50%;
  text-align: center;
}

.topHeader div p {
  font-size: 25px;
}

/* shelter body */
.legalServiceBody {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.legalServiceBody article section {
  padding-top: 30px;
}

.legalServiceBody article section h2 {
  font-size: 1.4rem;
}

.legalServiceBody article .textHead {
  font-size: 1.4rem;
  font-weight: 800;
}

.legalServiceBody article section p {
  font-size: 1.3rem;
  padding-top: 10px;
}

.legalServiceBody article .textHead {
  font-size: 1.4rem;
  font-weight: 800;
}

@media (max-width: 800px) {
  .topHeader div {
    width: 90%;
  }

  .topHeader div h1 {
    font-size: 35px;
  }

  .topHeader div p {
    font-size: 22px;
  }

  .legalServiceBody {
    width: 90%;
  }
}
